@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>
<a id="reset-password" asp-page="./ResetPassword"> <button type="submit" class="btn btn-primary">Ok</button> </a>

